{% extends 'turista_home.html' %}

{% load static %}

{% block principal %}

<div class="row justify-content-center">
        <div class="col-lg-10 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Editar Perfil</h3>
                    <form method="post" validate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        
                        <tr>
                            <th><button type="submit" class="btn btn-primary btn-block">Guardar</button></th>
                        </tr>
                    </form>
                </div>
                <div class="card-footer text-secondary">
                    *Cambiar la contraseña requiere que inicies sesión nuevamente
                </div>
            </div>
        </div>
    </div>
{% endblock principal %}

{% block dinamic %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/turista_home.js' %}"></script>
{% endblock %}