{% extends 'manager_home.html' %}

{% load crispy_forms_tags%} 

{% load static %}

{% block principal %}
<div>
    <h1 style='color:#7133E2'>Paquetes</h1>
</div>
<div class="row justify-content-center">
        <div class="col-lg-10 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Editar Paquete</h3>
                    <form method="post" validate>
                        {% csrf_token %}
                        {{form|crispy}}
                        <!--{% include 'includes/form.html' %}-->
                        <tr>
                            <th><button type="submit" class="btn btn-primary btn-block">Guardar</button></th>
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock principal %}

{% block dinamic %}
{% endblock %}