{% extends 'base_cuentas.html' %}

{% block title %}Registro de cliente{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Registrar</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Crear cuenta</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    Ya posee una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}