{% extends 'base_cuentas.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Solicitud validada{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="card bg-light">
            <div class="card-body border-success text-success">
                Su solicitud ha sido validada y será procesada por</br> 
                administración. Puede tardar unos días 
                en obtener respuestas. </br>
                <a href="{% url 'presentacion'%}" class="btn btn-link my-3" style='color:#7133E2'>Ir a inicio</button>
            </div>
        </div>
    </div>
{% endblock %}